@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.frost-object-browser {
  display: flex;
  flex-direction: column;

  &-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: $frost-color-lgrey-3;
  }

  &-facets {
    // Bunsen contains css that transforms its form into facets
    margin: 20px 10px 10px 10px;
    width: 180px;

    &-header {
      margin-bottom: 20px;
    }
  }

  &-content {
    position: relative;
    flex: 1;

    .frost-list-header + .frost-list-content {
      height: calc(100% - 120px)
    }

    .frost-list-content {
      height: calc(100% - 60px)
    }
  }

  &-actions {
    background: rgba(255,255,255,0.95);
    bottom: 0px;
    box-shadow: 0 8px 8px -8px #696868, 0 -8px 8px -8px #696868;
    z-index: 2;
    position: absolute;
    width: 100%;
    padding: 10px 15px 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &-content {
      padding: 10px 15px 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .frost-button,
    .frost-link {
      margin-left: 10px;
    }
  }
}
