<div class="block start frost-flex-1">
  <div class="row">
    <div class='select-checkbox'>
      {{frost-list-selection-indicator isSelected=isSelected}}
    </div>
    <div class="block column"></div>
  </div>
</div>
{{frost-bunsen-detail
  bunsenModel=bunsenModel
  bunsenView=bunsenView
}}
