<div>Object Browser Demo Menu</div>

<div>
{{#frost-link 'lts'}}
  LTS
{{/frost-link}}
</div>
<div>
  {{#frost-link 'custom-components'}}
    Custom Components
  {{/frost-link}}
</div>
<div>
{{#frost-link 'datamodel'}}
  Datamodel
{{/frost-link}}
</div>

{{outlet}}
