Datamodel demo

<div>
  {{frost-button
    priority='primary'
    size='medium'
    text="Hello"
  }}
</div>
<div>
  {{component 'frost-button'
    "posArg"
    priority=buttonPriority
    size='medium'
    text='Component helper'
  }}
</div>
<div>
  {{component
    (component 'frost-button'
      "posArg"
      priority=nestedButtonPriority
      size='medium'
      text='Nested component helpers'
    )
  }}
</div>
