Datamodel demo

<div>
  {{frost-button
    priority='primary'
    size='medium'
    text="Hello"
  }}
</div>
<div>
  {{component 'frost-button'
    "posArg"
    priority=buttonPriority
    size='medium'
    text='Component helper'
  }}
</div>
